$background-primary: #191919;
$background-secondary: #202020;
$background-light: #FAFDFE;
$color-primary: #2EAADC;
$color-primary-hover: #7BC9E8;
$text-primary: #FAFDFE;
$text-primary-hover: #F2F6F7;
$text-secondary: #B7B9BA;
$text-dark: #191919;
